@use "../styles/_variables" as *;

.image {
  margin: 12px 0 0 0;
  height: 140px;
  z-index: -100;
}
.image img {
  border-radius: 20px 20px 0 0;
  width: 100%;
  min-width: 220px;
  height: 140px;
  object-fit: cover;
  z-index: -100;
}
.issueCard {
  font-size: 12px;
  min-width: 220px;
  background: #fff;
  margin: 0 auto 32px;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}
.issueCardTop {
  position: relative;
  margin: -20px 0 0 0;
  padding: 16px 0;
  z-index: 100;
  cursor: pointer;
}
.issueTitle {
  font-size: 16px;
  color: #333333;
  font-weight: bold;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  line-height: 1.6;
}
.line {
  width: 100%;
  border: 1px solid #eeeeee;
}
.issueCardCommentWrap {
  padding: 16px 0;
}
.issueCardComments {
  display: flex;
}
.issueCardComment {
  width: 50%;
  margin-right: 16px;
  line-height: 1.6;
  font-size: 12px;
}
.responseSum {
  padding-right: 12px;
  font-size: 12px;
  font-weight: bold;
}
.barchart {
  line-height: 0;
}
.stanceItemBarChart {
  display: inline-block;
  font-size: 0;
  height: 6px;
}
.🍎 {
  background-color: $apple;
}
.🍋 {
  background-color: $lemon;
}
.🍇 {
  background-color: $grape;
}
.🍈 {
  background-color: $melon;
}
.🍊 {
  background-color: $orange;
}
