.container {
  width: 360px;
  margin: 0 auto;
  position: relative;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  background: #fff;
  z-index: 101;
  position: fixed;
  width: 360px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
  top: 0;
}
.actionBtn {
  cursor: pointer;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #333333;
  margin-top: 4px;
}
.nav ol {
  display: flex;
  justify-content: space-between;
}
.logo {
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.menuItem {
  margin: 5px 10px 0 0;
  z-index: 100;
}
.subTitle {
  font-weight: 800;
}
.headerGoBackBtn {
  cursor: pointer;
}
