@use "../../styles/_variables" as *;

.main {
  margin-top: 56px;
  background-color: #fff;
  height: 100vh;
  position: relative;
}
.image {
  height: 140px;
  position: relative;
}
.image img {
  width: 100%;
  min-width: 240px;
  max-width: 480px;
  height: 140px;
  object-fit: cover;
}
.issueBody {
  position: relative;
  border-radius: 20px 20px 0px 0px;
  background-color: #ffffff;
  margin: -20px 0 0 0;
  padding: 16px 20px;
}
.issueTitle {
  font-size: 24px;
  color: #333333;
  font-weight: bold;
  margin: 0;
  line-height: 1.6;
}
.issueSum p {
  display: inline-block;
  margin: 4px 16px 0 0;
  font-size: 12px;
  color: #999999;
}
.tags {
  position: absolute;
  bottom: 25px;
  left: 20px;
}
.tags ol {
  display: flex;
}
.tags ol li {
  min-width: 50px;
  text-align: center;
  margin-right: 10px;
  color: #fff;
  font-size: 10px;
  background: rgba(51, 51, 51, 0.3);
  padding: 2px 4px;
  backdrop-filter: blur(6px);
  border-radius: 30px;
}
.line {
  width: 100%;
  border: 1px solid #eeeeee;
}
.issueCardCommentWrap {
  background-color: #ffffff;
  padding: 16px 20px;
}
.issueCardComments {
  display: flex;
}
.issueCardComment {
  width: 50%;
  background-color: #ffffff;
  margin-right: 16px;
  line-height: 1.6;
  font-size: 12px;
}
.responseSum,
.commentSum {
  margin: 0 0 8px 0;
  font-size: 12px;
  font-weight: bold;
}
.stancePickItems {
}
.border {
  border: 1px solid #ddd;
}
.stancePickItem {
  display: inline-block;
  color: #333;
  padding: 9px 16px;
  border-radius: 30px;
  margin: 0 7px 11px 0;
  border: 1px solid #ddd;
  cursor: pointer;
}
.stanceItems {
}
.stanceItem {
  background: #f3f3f3;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.stanceItemBarChart {
  position: absolute;
  border-radius: 10px;
  height: 100%;
  background: red;
  top: 0;
  left: 0;
}
.stanceItemTitle {
  font-size: $font-sm;
  color: #333;
  padding: 8px 0 9px 16px;
  z-index: 1;
  background: transparent;
}
.stanceItemPercentage {
  padding: 8px 6px 9px 0;
  font-size: $font-sm;
}
.title {
  font-size: 16px;
  margin-top: 32px;
}
.body {
  font-size: 14px;
}
.stanceCount {
  text-align: right;
  font-size: $font-sm;
  color: $gray_900;
}
.🍎 {
  background-color: $apple;
}
.🍋 {
  background-color: $lemon;
}
.🍇 {
  background-color: $grape;
}
.🍈 {
  background-color: $melon;
}
.🍊 {
  background-color: $orange;
}
.opinionTitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  .title,
  .opinionSum,
  .opinionNext {
    display: inline-block;
  }
}
.opinionsContainer {
  cursor: pointer;
  .title,
  .opinionSum,
  .opinionNext {
    display: inline-block;
  }
}
.opinionSum {
  color: #c4c4c4;
  margin-left: 3px;
}
.opinionNextContainer {
  @include borderBottom;
}
.opinionContainer {
  @include borderTop;
}
.opinionNext {
  @include nextButton;
}
.opinionAll {
  color: $blue_main;
  padding: 9px 0;
  text-align: center;
  font-size: $font-13;
}
.authorInfoWrapper {
  display: flex;
  flex-direction: row;
  margin-top: 21px;
  float: right;
  font-size: 13px;

  span {
    display: block;
    text-align: right;
  }

  img {
    width: 50px;
    margin-left: 10px;
  }
}
