@use "../../styles/_variables" as *;

.main {
  background-color: #fff;
  margin-top: 56px;
}

.container {
  min-width: 240px;
  max-width: 480px;
  margin: 0 auto;
  position: relative;
}

.label_default {
  display: inline-block;
  margin: 10px;
}
.btnActive {
  display: block;
  height: 40px;
  background: #fff;
  border: 1px solid #4494ff;
  color: #4494ff;
  border-radius: 6px;
  font-size: 16px;
  padding: 6px 20px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

.btnLink {
  display: block;
  height: 40px;
  background: #fff;
  border: none;
  color: #4494ff;
  font-size: 13px;
  padding: 6px 20px;
  cursor: pointer;
  width: 100%;
}
.registrationWidgetWrapper {
  width: 100%;
  position: fixed;
  padding: 0 20px;
}
.btnDefault {
  display: block;
  height: 40px;
  background: #fff;
  border: 1px solid #e5e5e5;
  color: #333333;
  border-radius: 6px;
  font-size: 13px;
  padding: 6px 20px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}
.btnFacebook {
  display: block;
  height: 40px;
  background: #2174ee;
  border: 1px solid #e5e5e5;
  color: #fff;
  border-radius: 6px;
  font-size: 13px;
  padding: 6px 20px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}
.greetingWrapper {
  height: 150px;
  padding: 10px;
  text-align: center;
}
.formWrapper {
  padding: 20px;
}
.inputForm {
  display: inline-block;
  border: 0;
  border-bottom: 1px solid #c4c4c4;
  height: 30px;
  width: 100%;
  font-size: 14px;
}
.inputForm:focus {
  outline: none;
}
.profileWrapper {
  padding: 15px;

  p {
    color: #333333;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
  }

  span {
    font-size: 14px;
    font-weight: 400;
    margin-right: 15px;
  }

  .count {
    font-size: 14px;
    font-weight: 700;
    line-height: 22.4px;
    margin-right: 10px;
  }
}
.profileImgContainer {
  width: 92px;
  height: 92px;
  border-radius: 50%;
  background: #e0e0e0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.profileIntro {
  padding: 15px;

  div {
    font-weight: 400;
    font-size: 12px;
    line-height: 19.2px;
    margin-bottom: 15px;
  }

  button {
    background: #ffffff;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    border-radius: 6px;
    width: 100%;
    height: 32px;
    font-size: 13px;
    cursor: pointer;
  }
}

.divider {
  border-bottom: 1px solid #e5e5e5;
}
.goNext {
  @include nextButton;
}
.hashTagsContainer {
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  padding-left: 15px;

  @include borderBottom;
  .title,
  .hashTagSum,
  .goNext {
    display: inline-block;
  }
}

.hashTagSum {
  margin-left: 5px;
}

.opinionSummaryBox {
  padding: 15px 0px;
  display: flex;
  width: 92%;
  margin: 0 auto;
  border-bottom: 1px solid #e5e5e5;

  .contextBox {
    padding-left: 14px;
    width: 600px;
  }

  .title {
    font-weight: 700;
    font-size: 12px;
    color: #777777;
    line-height: 1.4;
    margin-bottom: 4px;
  }

  .stanceTitle {
    color: #4494ff;
    font-size: 12px;
    font-weight: bold;
    margin-right: 5px;
  }

  .content {
    font-size: 11px;
    line-height: 18px;
  }

  .likeWrapper {
    display: flex;

    span {
      color: #999999;
      font-weight: 400;
      font-size: 12px;
      margin-right: 5px;
    }
  }
}

.issueImgBox {
  width: 250px;
  height: 70px;
  margin-top: 8px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
}

.passwordMessage {
  text-align: end;
  font-weight: 400;
  font-size: 12px;
  line-height: 19.2px;
  color: #828282;
}

.registerBtn {
  background: none;
  border: none;
  color: #4494ff;
  cursor: pointer;
}

.smallProfileWrapper {
  display: flex;
  height: 60px;
  padding: 15px;

  img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 25px;
  }

  .profileInfo {
    color: #777777;
    position: relative;
    padding-left: 10px;
    width: 100%;

    .name {
      font-weight: 700;
      font-size: 14px;
    }
    .ago {
      font-size: 12px;
      position: absolute;
      margin-top: -3px;
    }
  }
}

.noOpinions {
  padding: 15px;

  p {
    text-align: center;
    font-size: 12px;
    color: #333333;
    margin-top: 10px;
  }

  img {
    margin: 30px auto;
    display: flex;
  }
}

.profileFormWrapper {
  padding: 20px;

  .inputTitle {
    display: block;
    font-size: 12px;
    line-height: 19px;
    font-weight: 700;
    color: #999999;
  }

  .inputForm {
    display: block;
    border: 0;
    border-bottom: 1px solid #c4c4c4;
    height: 30px;
    width: 100%;
    margin-bottom: 30px;
  }
  .inputForm:focus {
    outline: none;
  }
}

.tags {
  display: flex;
  margin-bottom: 15px;
}

.myOpinionsWrapper {
  background-color: #fff;
}

.headerBtn {
  background: none;
  border: none;
  font-weight: 700;
  font-size: 16px;
  color: #4494ff;
}
.headerBtn.disabled {
  color: rgba(68, 148, 255, 0.3);
}

.wrapper {
  padding-top: 32px;
}
.bigHeader {
  color: #333;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
.label {
  font-size: 12px;
  color: #4494ff;
}
.agreeBread {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #bdbdbd;
  border-radius: 50px;
  padding: 5px 10px;
  width: 90%;
  margin-top: 20px;
  color: #bdbdbd;
}
.agreeBread img {
  width: 25px;
}
.agreeBread label {
  display: inline-flex;
  cursor: pointer;
}
.agreed {
  color: #4494ff;
}
.inputWrapper {
  max-width: 580px;
  position: relative;
}
.inputWrapper img {
  position: absolute;
  top: 0;
  right: 0;
  vertical-align: middle;
  width: 28px;
  cursor: pointer;
}

.userInfoWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.userInfoWrapper .selectorWrapper {
  background-color: #fff;
  width: 100%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding: 30px 24px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}
.userInfoWrapper .choicesWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 40px;
  margin-top: 10px;
}
.choice {
  width: 70px;
  text-align: center;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid #999999;
  margin: 5px 10px;
}
.choice.selected {
  background: #4494ff;
  color: #fff;
  border: 0;
}
.buttonsWrapper {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
}
.buttonsWrapper button {
  width: 90%;
  height: 40px;
  border-radius: 6px;
  margin: 10px;
}
.buttonsWrapper .primary {
  background: #4494ff;
  color: #fff;
  border: 0;
}
.buttonsWrapper .default {
  color: #4494ff;
  background: transparent;
  border: 0;
}
.welcomeMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 65px;
}
.welcomeProfileWrapper {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  width: 90%;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.termsWrapper {
  padding: 17px;
  border: 1px solid #bdbdbd;
  margin: 23px;
  border-radius: 25px;
  height: 63vh;
  overflow: scroll;
}
