.label_default {
    display: inline-block;
    margin: 10px;
}
.btnActive {
    display: block;
    height: 40px;
    background: #fff;
    border: 1px solid #4494FF;
    color: #4494FF;
    border-radius: 6px;
    font-size: 16px;
    padding: 6px 20px;
    cursor: pointer;
    width: 320px;
    margin-top: 20px;
}

.btnLink {
    display: block;
    height: 40px;
    background: #fff;
    border: none;
    color: #4494FF;
    font-size: 13px;
    padding: 6px 20px;
    cursor: pointer;
    width: 320px;
}
.registrationWidgetWrapper {
    position: fixed;
    bottom: 20px;
}
.btnDefault {
    display: block;
    height: 40px;
    background: #fff;
    border: 1px solid #E5E5E5;
    color: #333333;
    border-radius: 6px;
    font-size: 13px;
    padding: 6px 20px;
    cursor: pointer;
    width: 320px;
    margin-top: 20px;
}
.btnFacebook {
    display: block;
    height: 40px;
    background: #2174EE;
    border: 1px solid #E5E5E5;
    color: #FFF;
    border-radius: 6px;
    font-size: 13px;
    padding: 6px 20px;
    cursor: pointer;
    width: 320px;
    margin-top: 20px;
}
.greetingWrapper {
    height: 150px;
    padding: 10px;
    text-align: center;
}
.formWrapper {
    padding: 20px;
}
.inputForm {
    display: block;
    border: 0;
    border-bottom: 1px solid #C4C4C4;
    height: 30px;
    width: 320px;
}
.inputForm:focus {
    outline: none;
}