@use "../../styles/_variables" as *;

.main {
  background-color: #f3f3f3;
  height: 100vh;
  margin-top: 56px;
}

.image {
  height: 300px;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.wrap{
  padding: 0 16px 20px;
}

.serviceTitleWrap {
  background: #fff;
  padding: 31px 0 0 0;
  margin-bottom: 3px;
}

.serviceWrap{
  background: #fff;
  margin-bottom: 3px;
}

.serviceTitle {
  font-size: 20px;
  color: #333333;
  font-weight: bold;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  line-height: 1.6;
}

.serviceSubTitle {
  font-size: 16px;
  color: #333333;
  font-weight: bold;
  margin: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  line-height: 1.6;
}

.serviceContent{
  white-space: pre-line;
  font-size: 14px;
  color: #999999;
  font-weight: normal;
  line-height: 21px;
  margin-bottom: 20px;
}

.title{
  font-size: 15px;
  color: #333333;
  font-weight: bold;
  margin: 15px 0 0 0;
}

.content{
  font-size: 14px;
  color: #999999;
  font-weight: normal;
  padding: 0 0 0 18px;
  margin: 0;
}

.serviceContent a:link{
  text-decoration: underline;
  color: #4494ff;
}
.serviceContent a:visited {
  text-decoration: underline;
  color: #4494ff;
}
.serviceContent a:hover {
  text-decoration: underline;
  color: #333333;
}