.main {
  background-color: #fff;
  height: 100vh;
  margin-top: 56px;
}
.image {
  height: 140px;
}
.image img {
  width: 100%;
  min-width: 240px;
  max-width: 480px;
  height: 140px;
  object-fit: cover;
}
.issueBody {
  position: relative;
  border-radius: 20px 20px 0px 0px;
  background-color: #ffffff;
  margin: -20px 0 0 0;
  padding: 16px 20px;
}
.issueTitle {
  font-size: 24px;
  color: #333333;
  font-weight: bold;
  margin: 0;
  line-height: 1.6;
}
.issueSum p {
  display: inline-block;
  margin: 4px 16px 0 0;
}
.tags {
  position: absolute;
  top: -30px;
  left: 20px;
}
.tags ol {
  display: flex;
}
.tags ol li {
  margin-right: 10px;
  color: #fff;
  font-size: 10px;
  background: rgba(51, 51, 51, 0.3);
  padding: 4px 8px;
  backdrop-filter: blur(6px);
  border-radius: 30px;
}
.line {
  width: 100%;
  border: 1px solid #eeeeee;
}
.issueCardCommentWrap {
  background-color: #ffffff;
  padding: 16px 20px;
}
.issueCardComments {
  display: flex;
}
.issueCardComment {
  width: 50%;
  background-color: #ffffff;
  margin-right: 16px;
  line-height: 1.6;
  font-size: 12px;
}
.responseSum,
.commentSum {
  margin: 0 0 8px 0;
  font-size: 12px;
  font-weight: bold;
}
.opinionWrapper {
  min-width: 240px;
  max-width: 480px;
  height: 320px;
  display: flex;
}
.opinionContent {
  border: 1px solid #e5e5e5;
  border-left: none;
  border-right: none;
  width: 100%;
  padding: 0 10px;
}
.commentInputWrapper {
  background: #f3f3f3;
  padding: 13px;
  cursor: pointer;
}
.commentWrapper {
  position: fixed;
  bottom: 0;
  min-width: 240px;
  max-width: 480px;
}
.commentInputWrapper textarea {
  width: 280px;
  border: none;
  background: #f3f3f3;
}
.commentWrapper textarea:focus {
  outline: none;
}
.commentWrapper button {
  color: #4494ff;
  border: none;
  background: none;
  cursor: pointer;
}
.likeWrapper {
  padding: 0 20px;
  display: flex;
  font-size: 12px;
  color: #777777;
}
.actionsWrapper {
  display: flex;
  height: 40px;
  font-size: 12px;
  color: #777777;
  border-bottom: 1px solid #e5e5e5;
}
.action {
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.action span {
  padding-left: 5px;
}
