@use "../../styles/_variables" as *;

.main {
  background-color: #f3f3f3;
  height: 100vh;
  margin-top: 56px;
}
.image {
  height: 140px;
}
.image img {
  width: 100%;
  min-width: 240px;
  max-width: 480px;
  height: 140px;
  object-fit: cover;
}
.issueBody {
  position: relative;
  border-radius: 20px 20px 0px 0px;
  background-color: #ffffff;
  margin: -20px 0 0 0;
  padding: 16px 20px;
}
.issueTitle {
  font-size: 24px;
  color: #333333;
  font-weight: bold;
  margin: 0;
  line-height: 1.6;
}
.issueSum p {
  display: inline-block;
  margin: 4px 16px 0 0;
}
.tags {
  position: absolute;
  top: -30px;
  left: 20px;
}
.tags ol {
  display: flex;
}
.tags ol li {
  margin-right: 10px;
  color: #fff;
  font-size: 10px;
  background: rgba(51, 51, 51, 0.3);
  padding: 4px 8px;
  backdrop-filter: blur(6px);
  border-radius: 30px;
}
.line {
  width: 100%;
  border: 1px solid #eeeeee;
}
.issueCardCommentWrap {
  background-color: #ffffff;
  padding: 16px 20px;
}
.issueCardComments {
  display: flex;
}
.issueCardComment {
  width: 50%;
  background-color: #ffffff;
  margin-right: 16px;
  line-height: 1.6;
  font-size: 12px;
}
.responseSum,
.commentSum {
  margin: 0 0 8px 0;
  font-size: 12px;
  font-weight: bold;
}
.stancePickItems {
}
.stancePickItem {
  display: inline-block;
  color: #333;
  border: 1px solid #ddd;
  padding: 9px 16px;
  border-radius: 30px;
  margin: 0 7px 11px 0;
  cursor: pointer;
}
.stanceItems {
}
.stanceItem {
  background: #f3f3f3;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.stanceItemBarChart {
  position: absolute;
  border-radius: 10px;
  height: 100%;
  background: red;
  top: 0;
  left: 0;
}
.stanceItemTitle {
  font-size: $font-sm;
  color: #333;
  padding: 8px 0 9px 16px;
  z-index: 1;
  background: transparent;
}
.stanceItemPercentage {
  padding: 8px 6px 9px 0;
  font-size: $font-sm;
}
.title {
  font-size: $font-lg;
}
.stanceCount {
  text-align: right;
  font-size: $font-sm;
  color: $gray_900;
}
.🍎 {
  background-color: $apple;
}
.🍋 {
  background-color: $lemon;
}
.🍇 {
  background-color: $grape;
}
.🍈 {
  background-color: $melon;
}
.🍊 {
  background-color: $orange;
}
.opinionTitleContainer {
  margin-bottom: 20px;
  @include borderBottom;
  .title,
  .opinionSum,
  .opinionNext {
    display: inline-block;
  }
}
.opinionNext {
  @include nextButton;
}
.stanceNoti {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  padding: 10px 20px;
  border-bottom: 1px solid #e5e5e5;
}
.opinionInput {
  width: 100%;
  border: none;
  padding: 10px;
  font-size: 13px;
  height: 700px;
}
.opinionInput:focus {
  outline: none;
}
.registerOpinionBtn {
  background: none;
  border: none;
  color: #4494ff;
  cursor: pointer;

  &.disabled {
    color: #c8c8c8;
    pointer-events: none;
  }
}
.opinionWrapper {
  margin-bottom: 20px;
  background-color: #fff;
}
.actionsWrapper {
  display: flex;
  height: 40px;
  font-size: 12px;
  color: #777777;
  border-bottom: 1px solid #e5e5e5;
}
.filter {
  height: 40px;
  padding: 8px 15px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}
.filterSelector {
  background: #fff;
  padding: 20px;
  border-radius: 20px 20px 0px 0px;
  position: fixed;
  bottom: 0;
  height: 212px;
  min-width: 240px;
  max-width: 480px;
}
.filterSelector .cancelBtn {
  color: #4494ff;
  margin-right: 100px;
  cursor: pointer;
}
.filterSelector .header {
  font-weight: 700;
}
.filterRow {
  font-size: 13px;
  cursor: pointer;
  padding: 10px 0;
  border-bottom: 1px solid #e5e5e5;
}
.filterSelector img {
  float: right;
}
.action {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
}
.filterSelectorRow {
  padding-bottom: 32px;
}
