@use "../styles/_variables" as *;

.main {
  background-color: #fff;
  height: 100vh;
  margin-top: 56px;
  position: relative;
}
.issue,
.issueTitle,
.issueCardBody {
  padding: 0 20px;
}
.issue {
  margin: 0;
  font-size: 12px;
  font-weight: bold;
  color: #999999;
  margin-bottom: 5px;
}
.article {
  padding: 0 13px 25px 13px;
}
.image {
  margin: 12px 0 0 0;
  height: 140px;
  z-index: -100;
  cursor: pointer;
}
.image img {
  width: 100%;
  min-width: 240px;
  max-width: 480px;
  height: 140px;
  object-fit: cover;
  z-index: -100;
}
.issueWrap {
  background: #fff;
  padding: 31px 0 0 0;
}
.issueCardWrap {
  background: #eee;
}
.issueCard {
  background: #fff;
  margin-bottom: 16px;
}
.issueCardTop {
  position: relative;
  border-radius: 20px 20px 0px 0px;
  background-color: #ffffff;
  margin: -20px 0 0 0;
  padding: 16px 20px;
  z-index: 100;
  cursor: pointer;
}
.issueTitle {
  font-size: 24px;
  color: #333333;
  font-weight: bold;
  margin: 0;
  padding-bottom: 12px;
  line-height: 1.6;
}
.barchart {
  height: 20px;
  margin-bottom: 13px;
}
.line {
  width: 100%;
  border: 1px solid #eeeeee;
}
.issueCardCommentWrap {
  background-color: #ffffff;
  padding: 16px 20px;
}
.issueCardComments {
  display: flex;
  justify-content: space-between;
}
.issueCardComment {
  cursor: pointer;
  width: 47%;
  background-color: #ffffff;
  line-height: 1.6;
  font-size: 12px;
}
.issueCardComment p {
  margin-bottom: 3px;
}
.issueCardCommentTitle {
  font-weight: bold;
}
.commentUsername {
  color: #777;
  font-weight: bold;
}
.responseSum,
.commentSum {
  font-size: 12px;
  font-weight: bold;
}
.stanceItemBarChart {
  border: 2px solid #fff;
  font-size: $font-ss;
  font-weight: bold;
  border-radius: 50px;
}
.stanceItemBarChart span {
  margin-left: 6px;
}
.🍎 {
  background-color: $apple;
}
.🍋 {
  background-color: $lemon;
}
.🍇 {
  background-color: $grape;
}
.🍈 {
  background-color: $melon;
}
.🍊 {
  background-color: $orange;
}
.commentContent {
  @include ellipsis(3, 1.6);
}
