.wrapper {
  padding: 10px;
  margin: 30px;
  height: 900px;
}

.btn_submit {
  display: block;
  margin: 0 auto;
  height: 40px;
  background: #1890ff;
  border: none;
  color: #fff;
  border-radius: 40px;
  font-size: 16px;
  padding: 6px 20px;
  cursor: pointer;
  width: 200px;
}
