.main {
  margin-top: 56px;
  background-color: #fff;
  height: 100vh;
}
.btn_add_issue {
  display: block;
  margin: 0 auto;
  height: 40px;
  background: #1890ff;
  border: none;
  color: #fff;
  border-radius: 40px;
  font-size: 16px;
  padding: 6px 20px;
  cursor: pointer;
  width: 200px;
}

.wrapper {
  padding: 10px;
  margin: 0 30px 30px 30px;
  height: 100vh;
}

.issue_title {
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0;
  display: block;
}
